.navbar-default {
  background-color: #333333;
  border-color: #333333;
  margin-bottom: 150px;
}

.navbar-default .navbar-brand, .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FFFFFF;
  outline-color: transparent;
}

/*Navbar items*/
.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  background-color: #FC903A;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}
