<div class = "culturebox">
        <div id = "cultureheader"><p id="cultureheading">Add an Event</p>
        <div id = "gotoleft">
        <input ng-model = "eventname" type = "text" class="textbox" id = "eventnametextbox" placeholder ="Name of Event"/>
        <input ng-model = "eventdate" type = "date" id = "eventdatebox"/>

        <input ng-model = "eventtime" type = "time" id = "eventtimebox"/>
        <input type='file' style = "display:none" id='csvUpload' onchange="uploadCSV()" name="Upload CSV">
        <input ng-click = "eventsubmit()" type = "submit" id = "eventpagesubmit" value = "Submit" >
        <input type = "button" style = "display:none" value = "Save" id = "eventSave" onclick="updateCall()">
        <input type = "button" style = "display:none" value = "Discard" id = "eventDiscard" onclick="updateDiscard()">
        </div>
        <textarea ng-model = "eventdescription" type = "text" class="textbox" id = "descriptiontextbox" placeholder ="Describe the Event"/>
        <!-- <div class = "submitevent"> -->

          <!--Here come the new buttons, and they are hidden at first><-->
           <input style="display:none" id = "tempID">
          <!--ID storage for update><-->
        </div>

</div>
    <div class = "culturebox" id = "culturebox2" style="height:510px; min-width:700px; overflow:none">
        <div id = "culturelistheader" style="height:500px; width: 100%;overflow:auto">
        <p id = "culturelistheading">Current List of Events</p>
        </div>

        <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
        <script>
        var myDataRef = new Firebase('https://dazzling-inferno-9963.firebaseio.com/event');
        myDataRef.orderByChild("dateID").on('child_added', function(snapshot) {
        var eventMessage = snapshot.val();
        displayChatMessage(eventMessage.name, eventMessage.description, eventMessage.dateID, snapshot.name());
      });


      function displayChatMessage(name, text, date, eventID) {
        var tr = document.getElementById("culturelistheader");
          var td1 = document.createElement("tr");
          var td2 = document.createElement("tr");
          td1.innerHTML = "<br><div style='text-align: left; margin-left: 15px';><span style='font-size:22px; color:blue;'> Name: </span> <span style='font-size:22px; color:black;'> "+name+"</span>"+
          "<button onclick='generateCSVEvent(\""+eventID+ "\")' name='generate' style=\"border:0px solid black; height:30px;width:70px; background-color: transparent\"><span style='font-size:15px; color:red;'> CSV </span></button>" +
          "<button onclick='deleteEvent(\""+eventID+ "\")' name='delete' style=\"border:0px solid black; height:30px;width:70px; background-color: transparent\"><span style='font-size:15px; color:red;'> Delete </span></button>" +
          "<button onclick='updateShow(\""+eventID+ "\")' name='update' style=\"border:0px solid black; height:30px;width:70px; background-color: transparent\"><span style='font-size:15px; color:red;'> Update </span></button></div>";

          // the above line adds a button that stand for "delete this event"
          // the button is currently not linked to the actual delete function, your job is to establish this link
          // more specificlly, call the "deleteEvent(eventID)" function below
          var d = new Date(date*1000);

          td2.innerHTML = "<div style='text-align: left; margin-left: 15px';><span style='font-size:20px; color:blue;'> Description: </span> <span style='font-size:20px; color:black;'> "+text+"</span></div>"
         				+ "<div style='text-align: left; margin-left: 15px';><span style='font-size:20px; color:blue;'> Date: </span> <span style='font-size:20px; color:black;'> "+d.toString()+"</span></div>";
          // this is a new field which is the "eventID", any event is uniquely determined by its "eventID"
          // this is needed because its the only way to identify what event to delete  in firebase

          tr.appendChild(td1);
          tr.appendChild(td2);

        //  tr.appendChild(td3);
      };

      function deleteEvent(eventID) {

        if (confirm('Are you sure you want to delete?')) {
            // Save it!


        var address = 'https://dazzling-inferno-9963.firebaseio.com/event/'+eventID;
        var deletingRef = new Firebase(address);
        var onComplete = function(error) {
          if (error) {
          //  console.log('Synchronization failed');
          //  if needed
          // add code here for a failed delete (this should never happend for now)

          } else {
          //  console.log('Synchronization succeeded');
          //  if needed
          //  add code here for a success delete
              alert("Delete Successful");
              location.reload();
          }
        };
        deletingRef.remove(onComplete);
      } else {
          // Do nothing!
      }
      };

       function generateCSVEvent(eventID) {

            var csv = '';
    var myDataRef = new Firebase('https://dazzling-inferno-9963.firebaseio.com/event');
    var totalCount = 0;
    var count = 0;

    var a = document.createElement('a');

    myDataRef.orderByChild("dateID").on('child_added', function(snapshot) {
      var eventMessage = snapshot.val();
      a.download = "PurdueEpics_"+eventMessage.name + ".csv";
      var myDataRef2 = new Firebase('https://dazzling-inferno-9963.firebaseio.com/event/'+snapshot.name()+"/attendees");
      var myDataRef3 = new Firebase('https://dazzling-inferno-9963.firebaseio.com/event/'+snapshot.name()+"/attendees");

      if(snapshot.name() == eventID){
          myDataRef3.once("value", function(snapshot3) {
          totalCount = snapshot3.numChildren();
          if (totalCount==0){
            window.alert('No data to download');
            return;
          }
          csv = 'puid,firstname,lastname,email,domestic/int,year\n';
          count = 0;
          myDataRef2.on('child_added', function(snapshot2){
            if(snapshot2.val().email.indexOf("@purdue.edu")>-1 && snapshot2.val().puid==""){
              csv += "**********,"+ snapshot2.val().firstname + ","+ snapshot2.val().lastname+","+snapshot2.val().email + "," + "," + '\n';
              }else{
                csv += ""+snapshot2.val().puid + ","+ snapshot2.val().firstname + ","+ snapshot2.val().lastname+","+snapshot2.val().email + "," + snapshot2.val().intstatus + "," + snapshot2.val().year + '\n';
            }
            count++;
            if(count == totalCount){
              a.href='data:text/csv;base64,' + btoa(csv);
              a.click();
            }
          });
        });
      }
    });


      };

      //Get eventID from a hidden input bar now.
      //The function will extract data from the input bar for update.
      function updateCall() {
        var eventID = document.getElementById("tempID").value;
      	var address = 'https://dazzling-inferno-9963.firebaseio.com/event/'+eventID;
      	var updatingRef = new Firebase(address);
          //alrt("Read Successful");

      	var onComplete = function(error) {
	  	if (error) {

			} else {
			    alert("Update Successful");
			    location.reload();
			}
		};
    var updateName = document.getElementById("eventnametextbox").value;
    var updateDes = document.getElementById("descriptiontextbox").value;

      var dateID2 = document.getElementById("eventdatebox").value;
      var d = new Date(dateID2);
      var dateID = (d.getTime()+(4*3600000))/1000;

    console.log("dateID",dateID);

    var timeID = document.getElementById("eventtimebox").value;
    var timeIDS = timeID.split(":");

    var Hour = parseInt(timeIDS[0])*3600;
    var Mint = parseInt(timeIDS[1])*60;
    var updateDate = (dateID + Hour + Mint);

		updatingRef.update({name: updateName, description: updateDes, dateID: updateDate}, onComplete);
		// here try to pull data from the text fields for update, replace the text after description and name for correspoding ones

      };

      //This is the function to hide the Sumbit button and show the Save and Discard button
      //This will also extract data from Firebase and fill it in the input bar
      function updateShow(eventID){
        document.getElementById("cultureheading").innerHTML = "Update Event";

        var btnSm = document.getElementById("eventpagesubmit");
        var btnSv = document.getElementById("eventSave");
        var btnDc = document.getElementById("eventDiscard");
        var btnCu = document.getElementById('csvUpload');

        btnSm.style.display = 'none';
        btnSv.style.display = '';
        btnDc.style.display = '';
        btnCu.style.display = '';

        var namebox = document.getElementById("eventnametextbox");
        var datebox = document.getElementById("eventdatebox");
        var desbox = document.getElementById("descriptiontextbox");

        var address = 'https://dazzling-inferno-9963.firebaseio.com/event/'+eventID;
        var readingRef = new Firebase(address);

        readingRef.on('value',function(snapshot) {
        var eventInfo = snapshot.val();
        namebox.value = eventInfo.name;
        desbox.value = eventInfo.description;
      //  datebox.value = eventInfo.date;
      });




      function parseDate(input) {
        var parts = input.split('-');
        // new Date(year, month [, day [, hours[, minutes[, seconds[, ms]]]]])
        return new Date(parts[0], parts[1]-1, parts[2]); // Note: months are 0-based
      }
      var temp = document.getElementById("tempID")
      temp.value = eventID;

      }

      function dateToString(input){
          return (input.getFullYear()+"-"+input.getMonth()+"-"+input.getDate());
      }

      //This is the function to hide the Save and Discard buttons then show the Sumbit button.
      //This will also clear the input bar.
      function updateDiscard(){
        var btnSm = document.getElementById("eventpagesubmit");
        var btnSv = document.getElementById("eventSave");
        var btnDc = document.getElementById("eventDiscard");
        var btnCu = document.getElementById('csvUpload');

        btnSm.style.display = '';
        btnSv.style.display = 'none';
        btnDc.style.display = 'none';
        btnCu.style.display = 'none';

        var namebox = document.getElementById("eventnametextbox");
        var datebox = document.getElementById("eventdatebox");
        var desbox = document.getElementById("descriptiontextbox");

        namebox.value = '';
        desbox.value = '';
        datebox.value = '';

        document.getElementById("cultureheading").innerHTML = "Add an Event";

      }

      function csvtoJSON(csv){
        var eventID = document.getElementById("tempID").value;
        var address = 'https://dazzling-inferno-9963.firebaseio.com/event/'+eventID+'/attendees';
        var updatingRef = new Firebase(address);
        updatingRef.remove(onComplete);
        var onComplete = function(error) {
           if (error) {
             } else {
                 console.log("Update Successful");
                 //location.reload();
             }
       };

        var lines=csv.split("\n");
        console.log('l:',lines.length);
        var result = [];
        var headers=lines[0].split(",");
        for(var i=1;i<lines.length-1;i++){
       	 //  var obj = {};
       	  var currentline=lines[i].split(",");
           console.log('cl:',currentline);
       	 //  for(var j=0;j<headers.length;j++){
       	// 	     obj[headers[j]] = currentline[j];
       	 //  }
         var obj = {
           "puid": currentline[0],
           "firstname": currentline[1],
           "lastname": currentline[2],
           "email": currentline[3],
           "intstatus": currentline[4],
           "year": currentline[5]
         }
          if(obj != {}){
       	  //result.push(obj);
          console.log('check:',obj);
          updatingRef.push(obj, onComplete);
          }
         }
          //console.log('r:',result);
         //return result; //JavaScript object
         //return JSON.stringify(result); //JSON
      }

      function uploadCSV(){
        if (window.FileReader) {
          var csv = document.getElementById('csvUpload');
          if(csv.files.length != 0){
           var reader = new FileReader();
           reader.onload=function(e){
             console.log('Success');
             csvtoJSON(e.target.result);
             window.alert('Update Success');
             updateDiscard();
           };
           reader.onerror=function(e){
             window.alert('Cannot read the file');
           };
           reader.readAsText(csv.files[0],'UTF-8');
           //console.log('see:',csv.files[0]);


         }
         else{window.alert('Please select a non-empty txt file');}
        } else {
          window.alert('FileReader are not supported in this browser.');
        }
      }


      </script>
      </div>
