<!doctype html>
  <div class = "mainpagebox">
        <a href = "EventPage.html"><div class = "eventpage">Event Page</div></a>
        <ul><a href = "EventPage.html"><div id = "editevent" class = "eventpagelist" >Edit An Event</div></a></ul>
        <ul><a href = "EventPage.html"><div id = "viewlistofevents" class = "eventpagelist">View List of Events</div></a></ul>
        <ul><a href = "EventPage.html"><div id = "generatereports" class = "eventpagelist">Generate Reports</div></a></ul>
  </div>
  <div class = "mainpagebox2">
        <a href = "Culturepage.html"><div class = "eventpage">Cultures Page</div></a>
        <ul><a href = "EventPage.html"><div id = "listofcultures"class = "eventpagelist">List of Cultures</div></a></ul>
        <ul><a href = "EventPage.html"><div id = "addaculture" class = "eventpagelist">Add a Culture</div></a></ul>
        <ul><a href = "EventPage.html"><div id = "addeventstoculture" class = "eventpagelist">Add Events to Culture</div></a> </ul>
  </div>


