<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <link type = "text/css" rel="stylesheet" href = "../styles/main.css"/>
        <title>Purdue International Program</title>
    </head>
    <body>
        <img id = "back" src="images\belltower.jpg">
        <div class = "box">
            <img  id = "purdue-ip" src ="purdue-ip.png" alt= "Purdue - International Programs">
            <input type = "text" class="textbox" id = "Username" placeholder ="Username"/>
            <input type = "password" type = "text" class="textbox" id = "Password" placeholder ="Password"/>
            <a href = "first_page.html"><div class = "login">Login</div></a>
            <div class = "forgot_password"><a href="passwordpage.html">Forgot Password ?</a></div>
            <div class = "register"><a href="register.html">Register</a></div>
        </div>
    </body>
</html>