<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <link type = "text/css" rel="stylesheet" href = "../styles/main.css"/>
        <title>Purdue International Program</title>
    </head>
    <body>
        <img id = "back" src="belltower.jpg">
        <div class = "box">
            <a href="File.html"><img  id = "purdue-ip" src ="purdue-ip.png" alt= "Purdue - International Programs"></a>
            <input type = "text" class="textbox" id = "Password" placeholder ="Enter Email Address or Username"/>
			<div class ="login"><a href = "thankyou.html">Submit</a></div>
            <div class = "register"><a href = "register.html">Register</a></div>
        </div>
    </body>
</html>