<!DOCTYPE html>
<!-- <html lang = "en">
    <head>
        <meta charset = "utf-8">
        <link type = "text/css" rel="stylesheet" href = "stylesheet.css"/>
        <title>Purdue International Program</title>
    </head> -->
    <!-- <body> -->
        <!-- <img id = "back" src="images\belltower.jpg"> -->
        <div class = "box">
            <img  id = "purdue-ip" src ="images\purdue-ip.png" alt= "Purdue - International Programs">
            <input ng-model = "email" type = "text" class="textbox" id = "email" placeholder ="Email"/>
            <input ng-model = "password" type = "password" class="textbox" id = "password" placeholder ="Password"/>
            <div class = "login"><input ng-click = "register()" type = "submit" id = "loginpagesubmit" value = "Add New User"></div>
        </div>
