<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
            <link type = "text/css" rel="stylesheet" href = "stylesheet.css"/>
            <title>Purdue International Program</title>
    </head>
    <body>
        <header>
            <img src = "belltower.jpg" width = "100%">
        </header>
        
        <section>
        </section>
        
        <section>
        </section>
        
        <footer>
            <ul>
                <li>
                <li>
            </ul>
        </footer>
    </body>
</html>