<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <link type = "text/css" rel="stylesheet" href = "../styles/main.css"/>
        <title>Purdue International Program</title>
    </head>
    <body>
        <img id = "back" src="belltower.jpg">
        <div class = "box">
            <a href="File.html"><img  id = "purdue-ip" src ="purdue-ip.png" alt= "Purdue - International Programs"></a>
            <a href = "File.html"><div class = "login">Login</div></a>
			<h5 id = "thankyou">Thank You</h5>
			<p id = "gettingpassword">You should be receiving an email associated with this account shortly</p>
		</div>
        
    </body>
</html>